<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>WebOTP</title>
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }

            html,body {
                height: 100%;
            }

            body {
                display: flex;
                align-items: center;
                padding-top: 40px;
                padding-bottom: 40px;
                background-color: #f5f5f5;
            }

            .form-signin {
                width: 100%;
                max-width: 330px;
                padding: 15px;
                margin: auto;
            }

            .form-signin .checkbox {
                font-weight: 400;
            }

            .form-signin .form-floating:focus-within {
                z-index: 2;
            }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body class="text-center">
      <main class="form-signin">
        <form>
            <img class="mb-4" src="https://img.freepik.com/free-vector/login-concept-illustration_114360-739.jpg?w=2000" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="phone" class="form-control" id="full_number" placeholder="Enter phone number" value="+916282053540">
                <label for="floatingInput">Enter phone number</label>
            </div>
            <div id="recaptcha-container" class="my-2" style="width:100px;"></div>
            <button class="btn" type="button" id="generateOTP">Request OTP</button>
            <div class="form-floating">
                <input type="text" class="form-control" id="userotp" autocomplete="one-time-code" placeholder="Enter OTP">
                <label for="floatingPassword">Enter OTP</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" id="verifyOTP" type="button">Verify</button>
        </form>
      </main>
    </body>

    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script type="module">
      const firebaseConfig = {
          apiKey: "AIzaSyAc_aA0cXLefCi9yfa9_2Bo-tevoZAqjL0",
          authDomain: "autodetect-otp-browser.firebaseapp.com",
          projectId: "autodetect-otp-browser",
          storageBucket: "autodetect-otp-browser.appspot.com",
          messagingSenderId: "913978305527",
          appId: "1:913978305527:web:c8be30e800128a52981cf2"
      };
      firebase.initializeApp(firebaseConfig);
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
      window.onload = function () {
        render();
      }

      function render() {
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
        recaptchaVerifier.render();
      }

      $("#generateOTP").click(function() {
        console.log("Requesting OTP");
        if (!(grecaptcha && grecaptcha.getResponse().length !== 0)) {
          alert('Please tick the reCAPTCHA checkbox to proceed');
          return;
        }
        var full_number = $('#full_number').val();
        console.log("Generating OTP for " + full_number);
        firebase.auth().signInWithPhoneNumber(full_number, window.recaptchaVerifier).then(function(confirmationResult) {
          window.confirmationResult = confirmationResult;
          coderesult = confirmationResult;
          console.log("Firebase OTP generated");
          console.log(coderesult);
        }).catch(function(error) {
          console.log(error);
        })
      })
    
      $("#verifyOTP").click(function() {
        console.log(window.location.origin);
        console.log("Verifing OTP");
        var userotp = $("#userotp").val()
        console.log("User entered OTP = " + userotp);
        coderesult.confirm(userotp).then(function(result) {
          var user = result.user;
          if(user){
            console.log("OTP verification success");
            window.location = window.location.origin+"/success";
          }
        }).catch(function(error) {
          console.log("OTP Verification failed");
        })
      })
    </script>

    <script>
      if ('OTPCredential' in window) {
        console.log("OTPCredential loaded");
        window.addEventListener('DOMContentLoaded', e => {
        const input = document.querySelector('input[autocomplete="one-time-code"]');
        if (!input) return;
        const ac = new AbortController();
        const form = input.closest('form');
        if (form) {
          form.addEventListener('submit', e => {
            ac.abort();
          });
        }
        navigator.credentials.get({
          otp: { transport:['sms'] },
          signal: ac.signal
        }).then(otp => {
          console.log(otp);
          input.value = otp.code;
          // if (form) form.submit();
        }).catch(err => {
          console.log(err);
        });
      });
    }
    </script>
</html>
